<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h4>파일-상품 설정</h4>
        <table class="table table-striped">
            <thead>
                <tr class="header">
                    <th>상품명</th>
                    <th>노출 시작 시점 (s)</th>
                    <th>총 노출 시간 (s)</th>
                    <th><input type="button" class="btn btn-success btn-xs add" value="+"/></th>
                </tr>
            </thead>
            <tbody class="table-hover">
            <% configs.forEach(function(config) { %>
                <tr class="configs">
                    <td>
                        <select class="product" name="product">
                        <% products.forEach(function(product) { %>
                            <option value="<%= product.id %>" <% if (config.product_id === product.id) { %> selected <% } %>>
                                <%= product.product_name %>
                            </option>
                        <% }) %>
                        </select>
                    </td>
                    <td><input type="number" name="playAt" class="play-at" step="1" value="<%= config.play_time_at %>"/></td>
                    <td><input type="number" name="displayTime" class="play-at" min="1" step="1" value="<%= config.display_time %>"/></td>
                    <td><input type="button" class="btn btn-warning btn-xs delete" value="X" /></td>
                </tr>
            <% }); %>
            <% if (configs.length === 0) { %>
                <tr class="configs">
                    <td>
                        <select class="product" name="product">
                        <% products.forEach(function(product) { %>
                            <option value="<%= product.id %>">
                                <%= product.product_name %>
                            </option>
                        <% }) %>
                        </select>
                    </td>
                    <td><input type="number" name="playAt" step="1" class="play-at" value="0"/></td>
                    <td><input type="number" name="displayTime" min="1" step="1" class="play-at" value="0"/></td>
                    <td><input type="button" class="btn btn-warning btn-xs delete" value="X" /></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>
