<%
    layout('/layout')
    stylesheet('/css/kiosk.css')
    script('/js/kiosk.js')
%>
<div>
    <div class="row">
        <div class="menu-name">
            <span class="bold-text">키오스크 관리</span>
            <div class="btn-right">
                <button class="btn btn-primary btn-sm" id="kiosk-new">등록</button>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="header">
                <th>ID</th>
                <th>Description</th>
                <th>Location (lng, lat)</th>
                <th>BLE</th>
                <th class="hidden-sm hidden-xs">Play File</th>
                <th class="hidden-sm hidden-xs">Play at</th>
                <th class="hidden-xs">Created at</th>
                <th class="hidden-xs">Updated at</th>
            </tr>
        </thead>
        <tbody class="table-hover">
        <% kiosks.forEach(function(kiosk) { %>
            <tr class="list" id=<%= kiosk.id %> >
                <th><%= kiosk.id %></th>
                <td><%= kiosk.description %></td>
                <td><%= kiosk.lng %>, <%= kiosk.lat %></td>
                <td><%= kiosk.ble %></td>
                <td class="hidden-sm hidden-xs"><%= kiosk.last_file %></td>
                <td class="hidden-sm hidden-xs"><%= kiosk.last_play_at %></td>
                <td class="hidden-xs"><%= kiosk.create_at %></td>
                <td class="hidden-xs"><%= kiosk.update_at %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <nav class="pagination">
    <% if (locals.prev) { %>
        <a href="/admins/kiosks?page=<%= (locals.page - 1) %>">Previous</a>
    <% } %>

    <% if (locals.next) { %>
        <a href="/admins/kiosks?page=<%= (locals.page + 1) %>">Next</a>
    <% } %>
    </nav>
</div>
